@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
.title {
  text-align: center;
  padding: 5rem 0;
}

.upload_book_form {
  width: 60%;
  margin: auto;
}
.available {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.form-check {
  margin-left: 1rem;
}

.submit_book {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: white;
  border-radius: 100px;
  width: 100%;
  border: none;
  padding: 1rem 0;
  background-color: crimson;
}
